{%extends 'base.html'%}

{% block title %} Products {% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<style type="text/css">
    
    body {
  background-color:  #140505;
  
}

</style>
<div class="container">
    <h2 class="text-center mt-3" style="color:#fff" "font-family:verdana">
        Products
    </h2>
    <a href="/" class="btn btn-info">HOME</a>
    <form action="/products" method="post">
        <div class="form-group">
            <label for="product-name" style="color:#fff" "font-family:verdana">
                Product Name
            </label>
            <input type="text" class="form-control" name="product-name" id="product-name">
            <input type="submit" class="form-control btn-primary mt-2" value="Add product">
        </div>
    </form>
    {%if products|length < 1%}
    <h4>No Products found please start by adding products above</h4>
    {% else %}
    <table class="table">
        <thead class="thead thead-light">
            <th>
                ID
            </th>
            <th>
                NAME
            </th>
            <th>
                UPDATE
            </th>
        </thead>
        {% for product in products %}
        <tr>
            <td style="color:#fff" "font-family:verdana">{{product.id}}</td>
            <td style="color:#fff" "font-family:verdana">{{product.name}}</td>
            <td>
                <a href="/products/{{product.id}}/update" class="btn btn-info">EDIT PRODUCTS</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>
{% endblock %}