{% extends 'base.html'%}

{% block title %} Update locations {% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<style type="text/css">
    
    body {
  background-color:  #140505;
  
}

</style>
<div class="container">
    <h2 class="text-center" style="color:yellow" "font-family:verdana">
        Update location
    </h2>
    <form action="/locations/{{location.id}}/update" method="post">
        <div class="form-group">
            <label for="location-name" style="color:#fff" "font-family:verdana">
                location Name
            </label>
            <input type="text" class="form-control" name="location-name" id="location-name" value="{{location.name}}">
            <input type="submit" class="form-control btn-primary mt-2" value="Update location">
        </div>
    </form>
</div>
{% endblock %}