{% extends 'base.html' %}

{% block title %} Movements {% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<style type="text/css">
    
    body {
  background-color:  #140505;
  
}

</style>
<div class="container">
    <h2 class="text-center mt-3" style="color:yellow" "font-family:verdana">
        Movements
    </h2>
    <form action="/movements" method="post">
        <div class="row">
            <div class="form-group col">
                <label for="from-location" style="color:#fff" "font-family:verdana">From location:</label>
                <select name="from-location" id="from-location" class="form-control">
                    <option value="none" >None</option>
                    {% for location in locations %}
                    <option value="{{location.id}}" {% if location.id == movement.from_location_id%}selected{% endif %}>{{location.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col">
                <label for="to-location" style="color:#fff" "font-family:verdana">To location:</label>
                <select name="to-location" id="to-location" class="form-control">
                    <option value="none" >None</option>
                    {% for location in locations %}
                    <option value="{{location.id}}" {% if location.id == movement.to_location_id%}selected{% endif %}>{{location.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="product" style="color:#fff" "font-family:verdana">Product</label>
                <select name="product" id="product" class="form-control">
                    {% for product in products %}
                    <option value="{{ product.id }}" {% if product.id == movement.product_id%}selected{% endif %}>{{product.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col">
                <label for="quantity" style="color:#fff" "font-family:verdana">Quantity</label>
                <input type="number" name="quantity" id="quantity" class="form-control" min="1" max="{{movement.quantity}}" value="{{movement.quantity}}">
            </div>
        </div>
        <input type="submit" value="Update movement" class="form-control btn btn-primary">
    </form>
</div>
{%endblock%}